{% extends 'base.html.twig' %}

{% block title %}Assetlist!{% endblock %}

{% block body %}
    <div style="margin-bottom: 50px;">
        <h2>Filter by asset Type</h2>
        <div>
            {% for type in assetTypes %}
                <a href="{{ path('list', {marketing_type: marketingType, asset_type:assetType ~ ',' ~ type.getId()} ) }}">{{ type.getName() }}</a>
            {% endfor %}
        </div>
        <h2>Filter by Marketing Type</h2>
        <div>
            {% for type in marketingTypes %}
                <a href="{{ path('list', {marketing_type: marketingType ~ ',' ~ type.getId(), asset_type:assetType} ) }}">{{ type.getName() }}</a>
            {% endfor %}
        </div>
    </div>

    <div>
        <form method="post" action="{{ path('app_zip')}}">
            {% for asset in assets %}
                <div style="margin: 20px; background-color: aqua; float: left; width: max-content">
                    <br />
                    {% for type in asset.getAssetType %}
                        {{ type.getName() }}
                        {%- if not loop.last -%}
                            ,
                        {% endif %}
                    {% endfor %}<br />
                    {% for type in asset.getMarketingType %}
                        {{ type.getName() }}
                        {%- if not loop.last -%}
                            ,
                        {% endif %}
                    {% endfor %}<br />

                    <label for="asset{{ asset.getId() }}">Select</label>
                    <input name="asset[]" type="checkbox" id="asset{{ asset.getId() }}" value="{{ asset.getId() }}">
                </div>
            {% endfor %}

            <input type="submit" value="Submit">

        </div>
    </div>
{% endblock %}
