{% extends 'base.html.twig' %}

{% block title %}Assetlist!{% endblock %}

{% block stylesheets %}
    .assetDiv {
        margin: 20px;
        background-color: #E01EE0BD;
        float: left;
        width: max-content;
        padding: 10px;
        border-radius: 20px;
        color: white;
    }

    .assetDiv:first-of-type {
        margin-left: 0;
    }


    .assetDiv img {
        max-width: 100px;
        max-height: 100px;
    }
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("label").click(function() {
            $(this).toggleClass("active");
        });
    </script>
{% endblock %}

{% block body %}
    <div>
        <h2>Filter by asset Type</h2>
        <div>
            {% for type in assetTypes %}
                <a class="btn btn-primary
                {% if type.getId() in assetTypesActive %}
                    active
                {% endif %}
                " href="{{ path('list', {marketing_type: marketingType, asset_type:assetType ~ ',' ~ type.getId()} ) }}">{{ type.getName() }}</a>
            {% endfor %}
        </div>
        <h2>Filter by Marketing Type</h2>
        <div>
            {% for type in marketingTypes %}
                <a class="btn btn-primary
                {% if type.getId() in marketingTypesActive %}
                    active
                {% endif %}
                " href="{{ path('list', {marketing_type: marketingType ~ ',' ~ type.getId(), asset_type:assetType} ) }}">{{ type.getName() }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="grid" style="margin-left: 20px;">
        <div class="row" style="margin-bottom: -20px; margin-top: 20px;">
            <h2>Assets</h2>
        </div>
        <form method="post" action="{{ path('app_zip')}}">
            <div class="row">
                {% for asset in assets %}
                    <div class="assetDiv">
                        <img src="{{ path('app_image', {asset: asset.getId()} ) }}">
                        <br />
                        {% for type in asset.getAssetType %}
                            {{ type.getName() }}
                            {%- if not loop.last -%}
                                ,
                            {% endif %}
                        {% endfor %}<br />
                        {% for type in asset.getMarketingType %}
                            {{ type.getName() }}
                            {%- if not loop.last -%}
                                ,
                            {% endif %}
                        {% endfor %}<br />

                        <label class="btn btn-primary" for="asset{{ asset.getId() }}">Select</label>
                        <input style="display: none" name="asset[]" type="checkbox" id="asset{{ asset.getId() }}" value="{{ asset.getId() }}">
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock %}
